* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    transition: text-shadow .5s;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background: linear-gradient(45deg, #CECECE 0%, #A4A4A4 0%, #C5B6C2 100%);
    padding-bottom: 20px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.header__top-icon {
    width: 5%;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    width: 50px;
}

.icon {
    width: 20px;
}

.header__ul {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

a:hover {
    text-shadow: 2px 2px 7px rgba(255, 0, 96, 0.74);
    transition: text-shadow .5s;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    height: 350px;
}

.card__img {
    width: 80px;
    margin: 0 auto;
}

.card__title {
    margin: 40px 0;
    font-weight: bold;

}

.card__description {
    color: #3a3a3a;
    font-size: 13px;
    line-height: 20px;
    flex: 1;
}

footer {
    background: linear-gradient(45deg, #CECECE 0%, #A4A4A4 0%, #C5B6C2 100%);
}
.footer__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}